#header {
	font-size: 68px;
	margin-top: 50px;
	font-weight: normal;
}

#msg {
	font-style: italic;
	font-size: 36px;
	color: #F12469;
	margin-top: 50px;
}

#button {
	border-radius: 30px;
	height: 40px;
	width: 335px;
	background-color: #F12469;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0 auto;
	padding-top: 15px;
	margin-bottom: 50px;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	border-width: 20px;
	border-style: solid;
	border-color: #FCD2D8;
	text-align: center;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}